.category-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.category-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.category-name {
    padding: 1rem;
    text-align: center;
}

/* ---------- Tablet ---------- */

@media (min-width: 768px) {

    .category-name {
        padding: 1.25rem;
    }

}